<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{static/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/menu :: header"></div>
    <h1>Список пользователей</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Логин</th>
            <th scope="col">Активен</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <input type="checkbox" aria-label="User checkbox"/>
            </td>
            <td th:text="${user.username}"></td>
            <td>
                <span th:if="${user.enabled == true}" th:text="#{yes}"></span>
                <span th:unless="${user.enabled == true}" th:text="#{no}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigator example">
        <ul class="pagination">
            <li th:each="page, iterStat : ${pages}" class="page-item">
                <a class="page-link" th:href="@{/courses(pageNo=${iterStat.index})}"
                   th:text="${iterStat.index + 1}"/>
            </li>
        </ul>
    </nav>
    <div style="display: flex">
        <div>
            <a href="/user/add" role="button" class="btn btn-primary">Добавить пользователя</a>
        </div>
        <div>
            <button type="submit" class="btn btn-danger">Удалить пользователя</button>
        </div>
    </div>
    <script type="text/javascript" th:src="@{static/js/bootstrap.bundle.min.js}"></script>
</body>
</html>