<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="ru.easyum.spring.HelloWorld" />

    <bean name="FactorySelfCreatedBean" class="ru.easyum.spring.FactorySelfCreatedBean" factory-method="createInstance"/>

    <bean name="FactoryBean" class="ru.easyum.spring.FactoryBean"/>

    <bean id="helloWorldFromFactory" factory-bean="FactoryBean" factory-method="createHelloWorldInstance"/>

</beans>